@charset "iso-8859-1";
/* CSS Document */
#debug{
	top:20px;
	border:1px solid red;
    color:red;
	background:black;
    font-size:12px;
	font-weight:bold;
    width:80px;
    height:80px;
    position:fixed;
	float:right;
    display:none;
	padding:2px;
    z-index:10000000000000;    
}
.popup{
	height:100px;
	padding:5px;
	display:block;
}
#resultado{
/*lupa e total	*/
	text-align:center;
}
#resultado img{
	vertical-align:middle;
}
font{
	font-size:9px;	
}
.resultRow{
	width:auto;
    padding:0 5px 0 5px;
    position:relative;
}
.foto{
	float:left;	
}
.infoWrap{
	/*border:1px solid blue;*/
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
    table-layout:auto;
    word-wrap:break-word;
	color:white;
	padding-left:5px;
	width:auto;
	height:100px;
	float:left;
	
}
.info{
	/*border:1px solid yellow;*/
	height:70px;
}
.valor{
	/*border:1px solid green;*/
	font-size:16px;
	font-weight:bold;
	position:relative;
	color:#39F; margin-bottom:0px;
}
.breakLine{
	border-bottom:1px solid #333;
	width:100%;
	height:1px;
	margin:5px 0 5px 0;
}
/*páginas*/
#empresaResult{
    padding:20px;
    text-align:justify;
}